S3method(print,Track_time)
S3method(print,accuracy)
S3method(print,summary.accuracy)
S3method(summary,accuracy)
export(ARVI)
export(DFPS)
export(EVI)
export(MSAVI2)
export(NDVI)
export(Track_time)
export(accuracy)
export(apply_windowed)
export(chg_dir)
export(chg_mag)
export(chg_traj)
export(chg_traj_stats)
export(class_statistics)
export(classify_image)
export(color_image)
export(compcont)
export(extract_MODIS_sample)
export(extract_training_data)
export(get_band_names_from_hdr)
export(get_metadata_item)
export(glcm)
export(gridsample)
export(linear_stretch)
export(match_rasters)
export(minnaert_samp)
export(mixing_model)
export(overlay_poly)
export(scale_raster)
export(simplify_polygon)
export(split_class)
export(start_timer)
export(stop_timer)
export(team_chg_detect)
export(team_classify)
export(team_preprocess_landsat)
export(team_setup_dem)
export(topocorr_samp)
export(topographic_corr)
export(tpa2df)
export(tpadf2raster)
export(training_sample)
export(tts2df)
export(ttsdf2raster)
export(unstack_ledapscdr)
export(utm_zone)
exportClasses(Track_time)
exportClasses(accuracy)
exportMethods(show)
import(Rcpp)
import(RcppArmadillo)
import(caret)
import(ggplot2)
import(methods)
import(mgcv)
import(rgdal)
importFrom(XML,xmlInternalTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
importFrom(grid,unit)
importFrom(lubridate,as.duration)
importFrom(lubridate,now)
importFrom(mclust,Mclust)
importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(plyr,summarize)
importFrom(raster,extension)
importFrom(raster,overlay)
importFrom(reshape2,melt)
importFrom(rgdal,readOGR)
importFrom(rgeos,gBuffer)
importFrom(rgeos,gCentroid)
importFrom(rgeos,gContains)
importFrom(rgeos,gDifference)
importFrom(rgeos,gIntersects)
importFrom(rgeos,gSimplify)
importFrom(rgeos,gUnaryUnion)
importFrom(rgeos,gUnion)
importFrom(sp,Spatial)
importFrom(sp,SpatialPixelsDataFrame)
importFrom(sp,coordinates)
importFrom(sp,spTransform)
importFrom(spatial.tools,rasterEngine)
importFrom(tools,file_path_sans_ext)
useDynLib(teamr)
