export(SVIs)
export(class_statistics)
export(extract_training_data)
export(get_metadata_item)
export(glcm)
export(match_rasters)
export(mosaic_imgs)
export(simplify_polygon)
export(svm_classify)
export(topographic_corr)
export(tpa2df)
export(tpadf2raster)
export(tts2df)
export(ttsdf2raster)
export(write_raster_extent)
